<h2 style="font-family: 'Teko', sans-serif;" class="text-warning">My other projects</h2>

<div class="container row justify-content-around ">
    <a class=" text-light text-decoration-none mx-2 col-md-3 "  target="_blank" href="https://game-two-orpin.vercel.app/"><div class="pie no-round animate  " style="--p:100;--c:lightgreen;--b:10px">X-O Game </div></a>
    <a class="text-light text-decoration-none mx-2 col-md-3"  target="_blank" href="https://mostafa-nine.vercel.app/products"><div class="pie no-round animate" style="--p:100;--c:lightgreen;--b:10px"> E-Commerce </div></a>
    <a class="text-light text-decoration-none mx-2 col-md-3"  target="_blank" href="https://budgetcalc-sable.vercel.app/"><div class="pie no-round animate" style="--p:100;--c:lightgreen;--b:10px"> Budget calc </div></a>
    <a class="text-light text-decoration-none mx-2 col-md-3"  target="_blank" href="https://rotten-potatoes-ten.vercel.app/log"><div class="pie no-round animate" style="--p:100;--c:lightgreen;--b:10px"> Rotten-potatoes </div></a>
    <a class="text-light text-decoration-none mx-2 col-md-3"  target="_blank" href="https://qoutes-blue.vercel.app/"><div class="pie no-round animate" style="--p:100;--c:lightgreen;--b:10px"> Qoutes </div></a>
    <a class="text-light text-decoration-none mx-2 col-md-3"  target="_blank" href="https://crud-cwxodnlr4-mostafaebrahem.vercel.app/"><div class="pie no-round animate" style="--p:100;--c:lightgreen;--b:10px"> CRUD </div></a>
<!-- <div class="pie" style="--p:20"> 20%</div> -->
<!-- <div class="pie" style="--p:40;--c:darkblue;--b:10px"> 40%</div> -->
<!-- <div class="pie no-round animate" style="--p:60;--c:lightgreen;--b:15px"> 60%</div> -->
<!-- <div class="pie animate no-round" style="--p:80;--c:orange;"> 80%</div> -->
<!-- <div class="pie animate" style="--p:90;--c:lightgreen"> 90%</div> -->
</div>
